.parent {
    background: #abeea5;
    border: solid 1px green;
    border-radius: 10px;
    padding: 10px;
}
.child {
    background: lightyellow;
    border: solid 1px rosybrown;
    border-radius: 10px;
    padding: 10px;
}
thead {color:green;}
tbody {color:blue;}
tfoot {color:red;}

table, th, td {
    border: 1px solid black;
}
.vm-content {
    background: #eeeeb7;
    border: solid 1px green;
    border-radius: 10px;
    padding: 10px;
}
